<!--Se genera el div que muestra la carga de los datos-->
<div *ngIf="!this.numbers">
  <br>
  <div class="d-flex justify-content-center">

    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>

  </div>
  <br>
</div>
<!---->
<!--Se genera el div que muestra la advertencia cuando no hay datos para mostrar-->
<div class="alert alert-warning alert-dismissible fade show" *ngIf="this.numbers.length == 0">
  <strong>Advertencia!</strong> No existen datos para mostrar en el arreglo.
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<!---->
<!--Se genera la tabla  con los encabezados solicitados-->
<table class="table table-bordered" *ngIf="this.numbers.length > 0">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Indice Incremental</th>
      <th scope="col">Numero Procesado</th>
      <th scope="col">Quantity </th>
      <th scope="col">First Position</th>
      <th scope="col">Last Position</th>
    </tr>
  </thead>
  <tbody>
    <!--Se recorre el arreglo de los numeros para poblar la tabla-->
    <tr *ngFor="let item of this.numbers"
      [ngClass]="{'bg-success':item.quantity >= 2, 'bg-warning':item.quantity === 1, 'table-active': item.quantity < 1}">
      <!--Se asignan los colores de fondo dependiendo de la cantidad de repeticiones...... El color gris nunca se asigna ya que al cada numero aparece al menos una vez-->
      <th>{{ item.indiceIncremental }}</th>
      <td>{{ item.numeroProcesado }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.firstPosition}}</td>
      <td>{{ item.lastPosition }}</td>
    </tr>
  </tbody>
</table>
<input type="text" [(ngModel)]="arraySorted" value={{arraySorted}} *ngIf="dataReceived.length > 0" />
<!-- Se crea el input que se llena con los valores ordenados (No se especifica que los valores no deben repetirse aca, por lo que los valores duplicados se muestran aca)-->
<div class="col text-center" *ngIf="dataReceived.length > 0">
  <button (click)="this.generarTabla()" type="button" class="btn btn-primary btn-lg">Obtener Datos</button>

</div>