<!--Se genera el div que muestra la carga de los datos-->
<div *ngIf="!this.parrafos">
  <br>
  <div class="d-flex justify-content-center">

    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>

  </div>
  <br>
</div>
<!---->
<!--Se genera el div que muestra la advertencia cuando no hay datos para mostrar-->
<div class="alert alert-warning alert-dismissible fade show" *ngIf="this.parrafos.length == 0">
  <strong>Advertencia!</strong> No existen datos para mostrar en el arreglo.
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<!---->
<!--Se genera la tabla  con los encabezados solicitados-->
<table class="table table-bordered" *ngIf="this.parrafos.length > 0">
    <thead class="thead-dark" >
      <tr>
        <th scope="col">N°</th>
        <th scope="col">a</th>
        <th scope="col">b</th>
        <th scope="col">c</th>
        <th scope="col">d</th>
        <th scope="col">e</th>
        <th scope="col">f</th>
        <th scope="col">g</th>
        <th scope="col">h</th>
        <th scope="col">i</th>
        <th scope="col">j</th>
        <th scope="col">k</th>
        <th scope="col">l</th>
        <th scope="col">m</th>
        <th scope="col">n</th>
        <th scope="col">o</th>
        <th scope="col">p</th>
        <th scope="col">q</th>
        <th scope="col">r</th>
        <th scope="col">s</th>
        <th scope="col">t</th>
        <th scope="col">u</th>
        <th scope="col">v</th>
        <th scope="col">w</th>
        <th scope="col">x</th>
        <th scope="col">y</th>
        <th scope="col">z</th>
        <th scope="col">Suma numericos contenidos</th>
      </tr>
    </thead>
    <tbody>
      <!--Se recorre el arreglo de los parrafos para poblar la tabla-->
      <tr *ngFor="let item of this.parrafos" >
        <th>{{ item.indiceIncremental }}</th>
        <td>{{ item.a }}</td>
        <td>{{ item.b }}</td>
        <td>{{ item.c }}</td>
        <td>{{ item.d }}</td>
        <td>{{ item.e }}</td>
        <td>{{ item.f }}</td>
        <td>{{ item.g }}</td>
        <td>{{ item.h }}</td>
        <td>{{ item.i }}</td>
        <td>{{ item.j }}</td>
        <td>{{ item.k }}</td>
        <td>{{ item.l }}</td>
        <td>{{ item.m }}</td>
        <td>{{ item.n }}</td>
        <td>{{ item.o }}</td>
        <td>{{ item.p }}</td>
        <td>{{ item.q }}</td>
        <td>{{ item.r }}</td>
        <td>{{ item.s }}</td>
        <td>{{ item.t }}</td>
        <td>{{ item.u }}</td>
        <td>{{ item.v }}</td>
        <td>{{ item.w }}</td>
        <td>{{ item.x }}</td>
        <td>{{ item.y }}</td>
        <td>{{ item.z }}</td>
        <td>{{ item.sumaNumerosContenidos }}</td>
     </tr>
    </tbody>
  </table>
  <div class="col text-center" *ngIf="this.parrafos.length > 0">  
  <button (click)="this.generarTabla()" type="button" class="btn btn-primary btn-lg">Obtener Datos</button>
  
  </div>