.toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #007bff ;
    color: white;
    font-weight: 600;
  }

  a{
      color: white !important;
  }

  .active{
      color: black !important;
  }